.about {
  padding-top: 30vmin;
  padding-bottom: 20vh;

  h1 {
    font-size: 8vmin;
    font-family: "LatoBold";
    color: rgb(145, 145, 145);
  }

  h2 {
    font-size: 3.5vmin;
    font-family: "LatoBold";
    color: rgb(196, 172, 111);
    margin-bottom: 5vh;
  }

  &__text {
    font-size: 3vmin;
    font-family: "LatoBold";
    color: rgb(120, 120, 120);
    font-weight: bold;
  }

  &__icons {
    text-align: center;
    padding-top: 1vh;

    img {
      height: 4vh;
      margin: 0 1px;
    }
  }
}
