footer {
  font-family: "Lato";
  color: rgba(255, 255, 255, 0.21);
  font-size: 2.3vmin;
  border-top: 1px solid rgba(255, 255, 255, 0.051);
  width: 100vw;
  position: relative;
  left: -5vw;
  padding: 1.5vmin 0 2vmin 10px;
}
