//Importing font-awesome and all fonts
@import "../assets/font-awesome/scss/font-awesome.scss";

$font-path: "../assets/fonts";

@font-face {
  font-family: "TruenoBlackSemiBold";
  src: url("#{$font-path}/TruenoSemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("#{$font-path}/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("#{$font-path}/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
