<section>
  <div class="contact">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 contact-title">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-0 col-10 col-offset-1">
          <div class="row form-entry">
            <div class="col-5 gold-line"></div>
            <img src="../assets/img/mail.png" class="col-2" alt="letter-icon" />
            <div class="col-5 gold-line"></div>
          </div>
          <div class="row">
            <div class="tempMessage">
              Temporarily not working, please use email beside
            </div>
            <form>
              <input type="text" name="Name" placeholder="Name" disabled />
              <input type="email" name="Email" placeholder="Email" disabled />
              <textarea
                name="Text"
                placeholder="Your Message"
                disabled
              ></textarea>
              <input type="submit" name="Send" value="Send" disabled />
            </form>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2 col-10 col-offset-1">
          <div class="socials-title">
            Contact and socials
          </div>
          <div class="socials-row">
            <a href="mailto:marmor19@gmail.com">
              <img src="../assets/img/email.png" alt="email-icon" />
              marmor19@gmail.com
            </a>
          </div>
          <div class="socials-row github-row">
            <a href="https://github.com/marmor157">
              <img src="../assets/img/github-logo.png" alt="email-icon" />
              Marmor157
            </a>
          </div>
          <div class="socials-row">
            <img src="../assets/img/phone-symbol.png" alt="email-icon" />
            +48 884 398 798
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
