<section>
  <div class="technologies">
    <div class="container-fluid">
      <div class="technologies__element">
        <div>
          <h1>Languages and Technologies</h1>
          <span
            >Those are my main languages and technologies that I have
            learend.</span
          >
        </div>
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/react-icon.png"
          alt="react logo"
          class="technologies__element__logo"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/first-element.png"
          alt="laptop image"
          class="full-size"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/second-element.png"
          alt="laptop image"
          class="full-size"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/nodejs.png"
          alt="nodejs logo"
          class="technologies__element__logo"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/html-5-logo.png"
          alt="html logo"
          class="technologies__element__logo"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/third-element.png"
          alt="phone image"
          class="full-size"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/js.png"
          alt="javascript logo"
          class="technologies__element__logo"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/mongodb-logo.png"
          alt="C++ logo"
          class="technologies__element__logo"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/sass-logo-new.png"
          alt="sass logo"
          class="technologies__element__logo technologies__element__logo--invert"
        />
      </div>
      <div class="technologies__element">
        <img
          src="../assets/img/fourth-element.png"
          alt="laptop keybord image"
          class="full-size"
        />
      </div>
    </div>
  </div>
</section>
