<div class="timeline">
  <div class="container-fluid">
    <div class="middle-line-wrapper">
      <div class="middle-line-wrapper__text">
        Projects
      </div>

      <div class="middle-line">
        <div class="timeline-circle"></div>
        <div class="timeline-circle down-circle"></div>
      </div>
    </div>
    <div class="timeline-content">
      <div class="timeline-element timeline-element--left">
        <div class="timeline-element__project">
          <div class="timeline-circle timeline-element__circle"></div>
          <div class="timeline-element__line"></div>
          <div class="timeline-element__image">
            <img src="../assets/img/lawendowa.png" alt="project-image" />
          </div>
          <div class="timeline-element__tech">
            <img src="../assets/img/react-icon.png" alt="react-image" />
            <img src="../assets/img/nodejs.png" alt="nodejs-image" />
            <img src="../assets/img/mongo-logo.png" alt="mongo-image" />
            <img src="../assets/img/webpack-logo.png" alt="webpack-image" />
          </div>
        </div>
        <div class="timeline-element__date">
          Internet Shop "Lawendowa Mydlarnia"
        </div>
      </div>

      <div class="timeline-element timeline-element--right">
        <div class="timeline-element__project">
          <div class="timeline-circle timeline-element__circle"></div>
          <div class="timeline-element__line"></div>
          <div class="timeline-element__image">
            <a href="https://graphic-portfolio-marmor.herokuapp.com/">
              <img src="../assets/img/Scieszka_Portfolio.png" alt="project-image" />
            </a>
          </div>
          <div class="timeline-element__tech">
            <img src="../assets/img/html-5-logo.png" alt="react-image" />
            <img src="../assets/img/sass-logo-new.png" alt="sass-image" />

            <img src="../assets/img/bootstrap-logo.png" alt="bootstrap-image" />
          </div>
        </div>
        <div class="timeline-element__date">
          Graphic Designer Portfolio
        </div>
      </div>

      <div class="timeline-element timeline-element--left">
        <div class="timeline-element__project">
          <div class="timeline-circle timeline-element__circle"></div>
          <div class="timeline-element__line"></div>
          <div class="timeline-element__image">
            <a href="https://mariuszmorawski-portfolio.herokuapp.com/">
              <img src="../assets/img/Portfolio.png" alt="project-image" />
            </a>
          </div>
          <div class="timeline-element__tech">
            <img src="../assets/img/html-5-logo.png" alt="react-image" />
            <img src="../assets/img/sass-logo-new.png" alt="sass-image" />
            <img src="../assets/img/webpack-logo.png" alt="webpack-image" />
          </div>
        </div>
        <div class="timeline-element__date">
          Junior Frontend Developer Portfolio
        </div>
      </div>
    </div>
  </div>
</div>
</section>